

*{
	font-family: Montserrat, Verdana, sans-serif;
}

html, body{
	width: 100%;
	height: 100%;
	/*font-size: 16px; */
	font-size: 100%; 
	font-weight: 400;
	color: white;
	/*background-color: rgba(239, 149, 5, 0.2);*/
}

/*
@font-face {
font-family: 'GeosansLight';
font-style: normal;
font-weight: normal;
src: local('GeosansLight'), url('GeosansLight.woff') format('woff');
}


@font-face {
font-family: 'GeosansLight-Oblique';
font-style: normal;
font-weight: normal;
src: local('GeosansLight-Oblique'), url('GeosansLight-Oblique.woff') format('woff');
}*/



.navbar{
	/*position: fixed;*/
	/*top: 0;
	left: 0;
	color: white;
	z-index: 9999;
	min-width: 200px;
	height: 100%;
	text-transform: uppercase;*/
	
	max-width: 25%; /*317px;*/
	height: 100%;
	/*background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0));*/
	background-color: rgba(0, 0, 0, 0.3) ;
	padding: 0px; 
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	z-index: 1030;
	transition: all .3s ease-out;
    -webkit-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
}

.navbar-expand-md .navbar-nav .dropdown-menu{
	position: relative;
	background-color: transparent;
	font-size: 12px;
	border: none;
	top: 0;
}

.dropdown-menu{
	background-color: transparent;
		font-size: 12px;
}

.dropdown-item{
	text-align: center;
	color: #f6f6f6;
	font-weight: 100;
	white-space: normal;
	padding: .25rem .5rem
}

.dropdown-item:hover, .dropdown-item.active {
	text-decoration: underline;
	font-weight: 400;
	background-color: transparent;
	color: #fff;
}

.container{
	flex-direction: column;
	height: 100%;

}


.navbar-brand{
 margin-top: 15%;/* 80px; */
 
 /*8%;*/
}

.navbar-brand img{
 max-width: 100%;
}


.navbar-collapse{
	margin-right: 10px;
	align-items: flex-start;

	 margin-top: 20%; /* 10%; */
	 
	 /*14%;*/
}


.navbar-dark .navbar-nav .nav-link{
	color: white;
	font-size: 1rem;
	letter-spacing: 0.2em;
	text-align: center;
			
}

.navbar-dark .navbar-nav .nav-link .active{
	font-weight: bold;
	text-decoration: underline;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: white;
	font-weight: bold;
	text-decoration: underline;
}


.intro{ /* , .layer*/
	margin-left: 30%;
	margin-bottom: 4%;
}

.imgfixed{
	position: absolute;
	bottom: 10%;
	right: 10%;
	/*max-height: 466px;*/
	max-width: 20%;
}

.tag{ /* PROCHAINEMENT */
	color: #A78A3C;
	font-weight: bold;
	border: 2px solid #A78A3C;
	letter-spacing: 0.15em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.4em;
	padding-bottom: .4em;
}

/*
#fullPage h1{
	color: blue;
}*/

.intro h1, .layer h1{
	margin-top: 0.5em;
	text-shadow: -2px 2px #040415;
}

.intro h2, .layer h2, .intro h3, .layer h3{

	text-shadow: -2px 2px #040415;
}


.plusbutton{
		color: white;
		font-size: 2em;
		border: 2px solid #fff;
		width: 60px;
		height: 60px;
		border-radius: 60px;
		font-weight: 200;
}

.plusbutton:hover{
		color: white;
		text-decoration: none;
		text-decoration: none;
}


.flex-container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/*-ms-flex-wrap: wrap;
	flex-wrap: wrap;*/
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items : center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	/*	flex-direction: row;*/
}


.fleximg{
	margin-right: 10%;
	margin-bottom: 10%;
	 max-width: 80%;
}

#menuBas{
	text-align: center;
	/*margin: auto;*/
	margin-bottom: 15%;
	width: 90%;
}

.international {
	margin-bottom: 15%;
}

.international a{
	/*text-align: center;*/
	color: #f6f6f6;
	font-weight: 100;
	letter-spacing: 0.2em;

}

.international a:hover, .international a.active {
	text-decoration: underline;
	font-weight: 400;
	background-color: transparent;
	color: #fff;
}

.searchform{
	max-width: 100%;
	margin-bottom: 8%;
}


.form-control{
	width: 90%;
	/*margin-right: 3%;*/
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	color: white;
	font-size: 13px;
	padding: 0;
}

.form-control:focus{
	border: none;
	box-shadow: none;
	color: white;
	background-color: transparent;
	border-bottom: 1px solid #fff;
}

.btnsearch{
	width: 10%;
	background-color: transparent;
}

.searchbutton{
	width: 25px;
}



.loupe {
  fill: #fff; 
}

.socialbutton {
  fill: #111; 
  opacity: 0.5;
}

.socialbuttons{
	width: 20px;
	height: 20px;
	border: 2px solid white;
	border-radius: 10px;
	/*background-color: white;*/
	
}

.social{
	font-size: 28px;
}

/***************VIDEO*******************/

	#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		/*background-image: url(images/fond-BadLieutenant.jpg);  */
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index: -1; /*3;*/
	}
	
	
		/* Layer with position absolute in order to have it over the video
	* --------------------------------------- */
	.layer{
		position: absolute;
		z-index: 4;
		width: 100%;
		bottom: 10%;
		left: 30%;
		/*left: 0;
		top: 43%;*/

		/*
		* Preventing flicker on some browsers
		* See http://stackoverflow.com/a/36671466/1081396  or issue #183
		*/
		-webkit-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	/*solves problem with overflowing video in Mac with Chrome */
	section{
		overflow: hidden;
	}



	/* Hiding video controls
	* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
	* --------------------------------------- */
	video::-webkit-media-controls {
	  display:none !important;
	}
	
	
	
		.menumobile{
	display:none;
}
	
#closemenumobile{
	display:none;
}
	
	

.btn:focus{

	/*border-color: white!important; 
	border: none!important;
	border-width: 0!important;*/
	outline: none;
	box-shadow: none;
}

#modalmobile{
	display:none;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 20%;
	padding-bottom: 5%;
	background: #000;
	z-index: 50000;
	transition: transform 1.5s cubic-bezier(.23,1,.32,1),opacity .75s linear;
}

#modalsearch{
	display:none;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 20%;
	padding-bottom: 5%;
	background: #000;
	z-index: 50000;
	transition: transform 1.5s cubic-bezier(.23,1,.32,1),opacity .75s linear;
}

/*
#modalmobile .is-on{
	opacity: 1;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	z-index: 50000;
}*/

#modalmobile .sidebar{
	opacity: 0;
/*transform: scale(1.1);*/
/*transform: translateX(100%);*/
	transition: transform 1.5s cubic-bezier(.23,1,.32,1),opacity .75s linear;
}

#modalmobile .sidebar.on{
	
	opacity: 1;
	/*transform: translateZ(0);*/
transition: transform 1.5s cubic-bezier(.23,1,.32,1),opacity .75s linear;
}



	.bar1 {   
	width: 25px;
    height: 2px;
    background-color: #fff; /*82D173*/
    margin-top: 0;
    transition: 0.4s;
}
	
	
	.bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #fff; /*82D173*/
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: translate(0px, 8px) rotate(-45deg); /*translate(-9px, 6px);*/
    transform: translate(0px, 8px) rotate(-45deg); /*translate(-9px, 6px);*/
	background-color:  #fff;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: translate(0px, -8px) rotate(45deg); /*translate(-8px, -8px);*/
    transform: translate(0px, -8px) rotate(45deg); /* translate(-8px, -8px);*/
	background-color:  #fff;
}


.cross1, .cross2{
	display: none;
	fill: #fff; 
}
	

	/**************************responsive***********************/
	
	
	
@media (max-width:767.98px){
		
	.menudesktop{
		display: none;
	}

		.menumobile{
		display: flex;
	}
	
	.navbar{
	max-width: 100%;
	height: auto;
	z-index: 50010;
}
	
.navbar-brand{
	margin-top: 5px;
}	
	.navbar>.container{
		
		flex-wrap: nowrap;
	}
	
	.container{
	flex-direction: row;
	height: auto;
	max-width: 100%;
}


#modalmobile .container{
	display:flex;
	justify-content: space-between; /*center*/
	align-items: center;
	height: 100%;
	flex-direction: column;
	/*margin-top: 10%;
	margin-bottom: 5%;*/
}

#modalsearch .container{
	display:flex;
	justify-content: space-between; /*center*/
	align-items: center;
	height: 100%;
	flex-direction: column;
	/*margin-top: 10%;
	margin-bottom: 5%;*/
}

#modalmobile .international{
	margin-bottom: 3%;
}

.menuBasmobile{
	text-align: center;
	
	/*margin: auto;
	margin-bottom: 15%;
	width: 90%;*/
}

#modalsearch .searchform{
	width: 100%;
}


.navbar-dark .navbar-toggler{
	border: none;
	color: rgba(255,255,255,1);
	padding:.25rem;
}


.btn{
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	
}	

.btnsearch{
/*margin-right: 1.5rem;*/
width: auto;
}

#brandmobile{
	max-width: 70%;
}

.flexbuttons{
	flex-wrap: nowrap;
	min-width: 20%;
	text-align: right;
}

/*
.navbar-dark .navbar-toggler-icon{
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)");
}*/

	.intro{ 
	margin-left: 5%;
	margin-bottom: 2%;
}

	.layer{ 
	left: 5%;
	bottom: 2%;
}

.tag {
	font-size: 0.5rem;
}

h1 {
	font-size: 1.5rem;
	margin-bottom: 0;
}

h2 {
	font-size: 1rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 0.75rem;
}


.menubutton{
	width: 30px;
}

/*	
.navbar{
	max-width: 100%;
	height: auto;

}

.container{
	flex-direction: row;
	height: auto;
}



.navbar-dark .navbar-toggler{
	border: none;
}

	

	*/
	}