	
	/*****************CATEGORIE distrib****************/
	
	
	#recherche{
		margin-left: 17%;

		background-color: #F5F5F5;
		width: 83%;
		min-height: 85%;
	}
	

		#recherche header{
			/*background-color: #F5F5F5;*/
			padding-top: 2.5rem;
			margin-bottom: 1.5rem;
			width: 100%;
					color: #030310;
		opacity: .5;
	}
	
	
	#recherche .content{
	background-color: #FFF;
	/*padding: 1rem;*/
}

#recherche h1.recherche{
	font-size: 1.2rem;
	font-family: Montserrat;
	
}

#recherche h1.recherche strong{
	font-size: 1.2rem;
	color: black;
	opacity: 1;
	
}
	
	
	#recherche h2{
		font-family: Piek;
		font-weight: bold;
		color: #A78A3C;
	}
	
		#recherche .films{
		padding-top: 2rem;
	}
	

	
		#recherche img{
		max-width: 100%;
		margin-bottom: 1rem;

	}
		
		#recherche h3{
			font-family: Piek;
		text-align:center;
		font-size: .8rem;
		font-weight: bold;
		color: #A78A3C;
	}
	
			#recherche h4{
				font-family: Montserrat;
		text-align:center;
		font-size: .7rem;
		font-weight: bold;
		color: #030310;
	}
				#recherche h5{
				font-family: Montserrat;
		text-align:center;
		font-size: .5rem;
		color: #030310;
	}
	

#recherche .categorie{
	color: #A78A3C;
	font-size: .5rem;
	text-transform: uppercase;
}
	
	.grid-item { 
width: 20%; /*25*/ /* 16 pour 5 */
  margin-bottom: 2%;
   margin-top: 2%;
}


.grid{
	/*margin-top: 50px;*/
	margin-top: 1%; /* 4% */
}

.gutter-sizer { 
width: 6%; 
}


@media only screen and (max-width: 992px){
	.grid-sizer, .grid-item{
		width: 30%; /*33*/
		 margin-bottom: 5%;
	}
	.gutter-sizer { 
width: 5%; 
}


}

@media only screen and (max-width:576px){
	.grid-sizer, .grid-item{
		width: 48%; /*50*/
	}
	.gutter-sizer { 
width: 4%; 
}
.itemcontent{
	font-size: 1.2rem;
}
}

@media only screen and (max-width:480px){
	.grid-sizer, .grid-item{
		width:  100%;
	}
	.itemcontent{
	font-size: 1.4rem;
}
}

	@media only screen and (max-width:992px){

	#recherche{
		margin-left: 0;
		width: 100%;
	}
	
			#recherche header{

			padding-top: 100px;

	}
	
		#recherche header select{
		margin-bottom : 1rem;
		/*min-width: 30%;
		max-width: 30%;*/

	}
	
}
